@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Bauhaus";
  src: url("../fonts/BauhausRegular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EAEAEA;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
  font-weight: 600;
  color: black;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

header {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  height: 110px;
  display: flex;
  align-items: center;
}

header img {
  width: 54px;
  height: 69px;
  margin-right: 325px;
  margin-left: 120px;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 0 36px;
}

.navigation a {
  color: black;
  font-family: "Open Sans";
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
}

.salution-block {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 976px;
  background-image: url(../imgs/BG-salution.png);
}

.titel-block {
  font-family: "Bauhaus";
  font-size: 78px;
  padding-top: 178px;
  padding-left: 733px;
}

.titel-block h1 {
  color: #D1211A;
}

.titel-block h2 {
  color: #3D4B58;
  padding-left: 138px;
}

.bauhaus-is {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 892px;
  margin-top: 74px;
  display: flex;
  gap: 0 132px;
}

.bauhaus-is-txt {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 132px;
}

.bauhaus-is-txt p {
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  font-weight: 500;
  width: 736px;
  text-align: justify;
}

.bauhaus-is-titel {
  background-color: #F2B544;
  height: 125px;
  width: 675px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 804px;
  margin-top: 145px;
  display: flex;
  justify-content: flex-end;
  gap: 0 109px;
}

.history img {
  width: 560px;
  height: 695px;
}

.history-txt {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 62px;
}

.history-txt p {
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  font-weight: 500;
  width: 790px;
  text-align: justify;
}

.history-titel {
  background-color: #F2B544;
  height: 125px;
  width: 691px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bauhaus-builds {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 583px;
  margin-top: 110px;
  display: flex;
  overflow: hidden;
}

.build-img1 {
  width: 426px;
  height: 583px;
}

.build-img2 {
  width: 381px;
  height: 583px;
}

.build-img3 {
  width: 365px;
  height: 583px;
}

.bauhaus-style {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 817px;
  display: flex;
  margin-top: 121px;
  justify-content: flex-end;
  gap: 0 84px;
}

.bauhaus-style-txt {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 53px;
}

.bauhaus-style-txt p {
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  font-weight: 500;
  width: 790px;
  text-align: justify;
}

.bauhaus-style-titel {
  background-color: #F2B544;
  height: 125px;
  width: 798px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bauhaus-interior {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 817px;
  display: flex;
  margin-top: 125px;
  gap: 0 109px;
}

.bauhaus-interior-txt {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 132px;
}

.bauhaus-interior-txt p {
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  font-weight: 500;
  width: 790px;
  text-align: justify;
}

.bauhaus-interior-imgs {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: 651px;
  margin-top: 141px;
  background-color: #5B5B5B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.bauhaus-interior-imgs img {
  width: 375px;
  height: 450px;
}

.box {
  padding-left: 120px;
  padding-right: 120px;
}

footer {
  max-width: 1341px;
  width: 100%;
  margin: 0 auto;
  height: 253px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 800;
}

.logo-footer {
  width: 54px;
  height: 69px;
}

.box-content {
  display: flex;
  gap: 0 71px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-navigation ul {
  list-style-type: disc;
  color: #D91E1E;
  font-size: 20px;
  padding-left: 19px;
}

.footer-navigation a {
  color: black;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.phone {
  color: black;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 900;
}

.under-phone {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

button {
  display: flex;
  width: 190px;
  border: none;
  background: none;
  gap: 0 15px;
}

button a {
  color: black;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 960px) {
  h3 {
    font-size: 42px;
  }
  header {
    height: 100px;
  }
  header img {
    width: 41px;
    height: 52px;
    margin-right: 75px;
    margin-left: 47px;
  }
  .navigation {
    gap: 0 47px;
  }
  .navigation a {
    font-size: 27px;
  }
  .salution-block {
    height: 674px;
    background-image: url(../imgs/BG-salution-T.png);
  }
  .titel-block {
    font-size: 50px;
    padding-top: 125px;
    padding-left: 448px;
  }
  .titel-block h2 {
    padding-left: 77px;
  }
  .bauhaus-is {
    height: 526px;
    margin-top: 48px;
    gap: 0 85px;
  }
  .bauhaus-is-txt {
    gap: 38px;
    margin-top: 85px;
  }
  .bauhaus-is-txt p {
    font-size: 21px;
    width: 473px;
  }
  .bauhaus-is-titel {
    height: 80px;
    width: 434px;
  }
  .history {
    height: 445px;
    margin-top: 53px;
    gap: 0 73px;
  }
  .history img {
    width: 309px;
    height: 383px;
  }
  .history-txt {
    gap: 22px;
    margin-top: 40px;
  }
  .history-txt p {
    font-size: 20px;
    width: 435px;
  }
  .history-titel {
    height: 85px;
    width: 434px;
  }
  .bauhaus-builds {
    height: 350px;
    margin-top: 104px;
  }
  .build-img1 {
    width: 256px;
    height: 350px;
  }
  .build-img2 {
    width: 229px;
    height: 350px;
  }
  .build-img3 {
    width: 219px;
    height: 350px;
  }
  .bauhaus-style {
    height: 506px;
    margin-top: 85px;
    gap: 0 66px;
  }
  .bauhaus-style img {
    width: 358px;
    height: 506px;
  }
  .bauhaus-style-txt {
    gap: 37px;
    margin-top: 33px;
  }
  .bauhaus-style-txt p {
    font-size: 20px;
    width: 489px;
  }
  .bauhaus-style-titel {
    height: 77px;
    width: 495px;
  }
  .bauhaus-interior {
    height: 507px;
    margin-top: 100px;
    gap: 0 82px;
  }
  .bauhaus-interior-txt {
    gap: 37px;
    margin-top: 82px;
  }
  .bauhaus-interior-txt p {
    font-size: 20px;
    width: 489px;
  }
  .bauhaus-interior-imgs {
    height: 385px;
    margin-top: 89px;
  }
  .bauhaus-interior-imgs img {
    width: 225px;
    height: 270px;
  }
  .box {
    padding-left: 41px;
    padding-right: 41px;
  }
}/*# sourceMappingURL=allstyles.css.map */